name: osc-sdk-js release build
on:
  workflow_dispatch:
    inputs:
      api_version:
        description: 'Outscale API version'
        required: true

jobs:
  auto-build:
    environment: auto-build
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          ref: main
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
        with:
          node-version: 24.12.0
      - name: make nvm available
        run: |
          sudo cp ~/.nvm/nvm.sh /usr/local/bin/nvm
          sudo chmod +x /usr/local/bin/nvm
      - name: Write Outscale API version to use
        run: echo "${{ github.event.inputs.api_version }}" > api_version
      - name: check for release duplicate
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
        run: make release-check-duplicate
      - name: auto-generate release
        run: make release-build
      - name: push release branch
        run: make release-push
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
      - name: create pull request
        run: make release-pr
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
