name: osc-sdk-js release build
on:
  workflow_dispatch:
    inputs:
      api_version:
        description: 'Outscale API version'
        required: true

jobs:
  auto-build:
    environment: auto-build
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
        with:
          ref: main
      - uses: actions/setup-node@v4
        with:
          node-version: 20.5.1
      - name: make nvm available
        run: |
          sudo cp ~/.nvm/nvm.sh /usr/local/bin/nvm
          sudo chmod +x /usr/local/bin/nvm
      - name: Write Outscale API version to use
        run: echo "${{ github.event.inputs.api_version }}" > api_version
      - name: check for release duplicate
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
        run: make release-check-duplicate
      - name: download oapi spec
        run: |
          curl -O --retry 5 https://raw.githubusercontent.com/outscale/osc-api/refs/tags/${{ inputs.api_version }}/outscale.yaml
      - name: patch oapi spec
        uses: outscale/osc-api-deploy/hacks-and-check@8abf97e5a8b49dbd12401cb843afa435de4e061c #TODO: change to main before merging
        with:
          no-oneof: yes
          patch: ./.osc-api/outscale.patch.yaml
          input: ./outscale.yaml
          output: ./.osc-api/outscale.yaml
      - name: auto-generate release
        run: make release-build
      - name: push release branch
        run: make release-push
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
      - name: create pull request
        run: make release-pr
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
