name: pull-request

on:
  pull_request:
    branches: [main]

permissions:
  pull-requests: write
  contents: write

jobs:
  reuse-test:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Reuse specification test
        run: make reuse-test
  examples-test:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
        with:
          node-version: 20.5.1
      - name: make nvm available
        run: |
          sudo cp ~/.nvm/nvm.sh /usr/local/bin/nvm
          sudo chmod +x /usr/local/bin/nvm
      - name: Local Tests
        run: |
          ./local_tests.sh
      - name: Example tests
        env:
          OSC_ACCESS_KEY: ${{ secrets.OSC_ACCESS_KEY }}
          OSC_SECRET_KEY: ${{ secrets.OSC_SECRET_KEY }}
          OSC_REGION: ${{ secrets.OSC_REGION }}
        run: make examples-test
  regeneration-test:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
        with:
          node-version: 20.5.1
      - name: make nvm available
        run: |
          sudo cp ~/.nvm/nvm.sh /usr/local/bin/nvm
          sudo chmod +x /usr/local/bin/nvm
      - name: SDK re-generation test
        run: make regen-test
  dependabot-auto-merge:
    needs: [reuse-test, examples-test, regeneration-test]
    runs-on: ubuntu-latest
    if: ${{ github.actor == 'dependabot[bot]' }}
    steps:
      - name: Dependabot metadata
        id: metadata
        uses: dependabot/fetch-metadata@21025c705c08248db411dc16f3619e6b5f9ea21a # v2.5.0
        with:
          github-token: "${{ secrets.GITHUB_TOKEN }}"
      - name: Auto-merge
        run: gh pr merge --auto --rebase "$PR_URL"
        env:
          PR_URL: ${{github.event.pull_request.html_url}}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
