name: pull-request

on:
  pull_request:
    branches: [main]

permissions:
  pull-requests: write
  contents: write

jobs:
  reuse-test:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Reuse specification test
        run: make reuse-test
  examples-test:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: 24.13.0
      - name: make nvm available
        run: |
          sudo cp ~/.nvm/nvm.sh /usr/local/bin/nvm
          sudo chmod +x /usr/local/bin/nvm
      - name: Local Tests
        run: |
          ./local_tests.sh
      - name: Example tests
        if: "! contains(github.event.pull_request.labels.*.name, 'dependencies')"
        env:
          OSC_ACCESS_KEY: ${{ secrets.OSC_ACCESS_KEY }}
          OSC_SECRET_KEY: ${{ secrets.OSC_SECRET_KEY }}
          OSC_REGION: ${{ secrets.OSC_REGION }}
        run: make examples-test
  regeneration-test:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: 24.13.0
      - name: make nvm available
        run: |
          sudo cp ~/.nvm/nvm.sh /usr/local/bin/nvm
          sudo chmod +x /usr/local/bin/nvm
      - name: SDK re-generation test
        run: make regen-test
